<html>
<head>
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="http://code.interactjs.io/interact-1.2.4.min.js"></script>
<style>
#drag-1, #drag-2, #drag-3 {
	width: 10%;
	height: 10%;
	min-height: 6.5em;
	margin: 0px;
	background-color: #29e;
	color: white;
	border-radius: 0.75em;
	padding: 4%;
	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
}

#drag-me::before {
	content: "#" attr(id);
	font-weight: bold;
}
</style>
</head>
<body>

<div id="drag-1" class="draggable">
	<p>you can drag one element</p>
</div>
<div id="drag-2" class="draggable">
	<p>with each pointer</p>
</div>
<div id="drag-3" class="notdraggable">
	<p>no dragggg</p>
</div>

<script>
interact('.draggable').draggable({
	inertia: true,
	restrict: {
		restriction: "parent",
		endOnly: true,
		elementRect: { top: 0, left: 0, bottom: 1, right: 1}
	},
	onmove: dragMoveListener,
	onend: function(event){ }
});

interact('.notdraggable').draggable({
	inertia: true,
	restrict: {
		restriction: "parent",
		endOnly: true,
		elementRect: { top: 0, left: 0, bottom: 1, right: 1}
	},
	onmove: dragMoveListener,
	onend: function(event){ 
		var target = event.target;
		target.style.webkitTransform = 
		target.style.transform =
			'translate(0px, 0px)';
		target.setAttribute('data-x', 0);
		target.setAttribute('data-y', 0);
	}
});

function dragMoveListener(event){
	var target = event.target, 
		x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx,
		y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy;
	
	target.style.webkitTransform = 
	target.style.transform = 
		'translate(' + x + 'px, ' + y + 'px)';

	target.setAttribute('data-x', x);
	target.setAttribute('data-y', y);
} //dragMoveListener

window.dragMoveListener = dragMoveListener;

</script>
</body>
</html>
